server {
    listen 80;
    root /opt/nginx/ansible;
    index index.php;

    server_name localhost;

    location / {
        try_files $uri $uri/ /index.php;
    }

    location ~ .php$ {
        include fastcgi_params;
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_index index.php;
    }
}
